server:
  port: 9000
spring:
  application:
    name: shamall-order
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/shamall_oms
    driverClassName: com.mysql.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
mybatis-plus:
  #mapper 路径 classpath* 表示也扫描引用jar里面的classpath
  mapper-locations: classpath:/mapper/**/*.xml
  globalConfig:
    dbConfig:
      idType: auto #自增主键

